@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Creedence Clearwater Revival</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="music_container">
    <iframe id="ccr" width="560" height="315" src="https://www.youtube.com/embed/dIfQNB5WXmY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<br />
<br />

<p id="button"><button onclick="myMove()">Click here please</button></p>


<div id="animate_container">
    <div id="animate"></div>
</div>